@import "@fontsource/goldman/latin.css";

/* Colors (hue ref: 0=red, 30=orange, 60=yellow, 120=green, 180=cyan, 240=blue, 270=purple, 300=pink, 360=red) */
$BG_Gradient: linear-gradient(
                          45deg,
                          hsl( 209, 100%,  14%),
                          hsl( 217,  67%,  54%),
                          hsl( 195,  68%,  67%),
                          hsl(  90,  58%,  59%),
                          hsl(  71, 100%,  70%)
);
$BG_Color:                hsl(  60,  20%,   8%);
// ---------------- Grid Row 1 -----------------
$fileUploadButtonBGColor: hsl(  90,  48%,  56%);
$fileChosenNameColor:     hsl(   0,   0%, 100%);
$outputAreaTitleColor:    hsl(   0,   0%,  40%);
// --------------- Grid Rows 2-3 ---------------
$vizAreaBGColor:          hsl(   0,   0%,  13%);
$errorPopupBGColor:       hsla(  0,   0%,  13%, 0.8);
$errorPopupTextColor:     hsl(   0, 100%,  33%);
$sdpInfoPopupBGColor:     hsl( 221, 100%,  31%);
$sdpInfoPopupTextColor:   hsl(   0,   0%, 100%);
$sdpLinkColor:            hsl(  17,  92%,  44%);
$outputAreaBGColor:       hsla(  0,   0%,  30%, 0.62);
// ---------------- Grid Row 4 -----------------
$playButtonBGColor:       hsl( 102,  36%,  48%);
$playButtonIconColor:     hsl( 120, 100%,  25%);
$timelineTrackBGColor:    hsl( 180,   5%,  35%);
$timelineTrackThumbColor: hsl(  60, 100%,  50%);
$timelineCellLabelColor:  hsl(  60, 100%,  50%);


* {
   font-family: 'Goldman', sans-serif;
   font-size: 5pt;
}

body {
   margin: 0;
   background-color: $BG_Color;
}

/* Styles in the grid are organized top->bottom, left->right */
#app-grid {
   $row1Height: 22px;
   $row2Height: auto; //responsive height for: viz-area, output-area
   $row3Height: 87px;
   $row4Height: 40.5px;
   $row5Height: 14px;

   $col1Width: auto; //responsive width for: file-area, viz-area, timeline-track-area
   $col2Width: 200px;
   $col3Width: 155px;

   $gridGap: 5px;
   $gridPadding: 5px;
   $gridMargin: 10px;

   display: grid;
   box-sizing: border-box;
   width: calc(100vw - 2*$gridMargin);
   height: calc(100vh - 2*$gridMargin);
   grid-template-rows: $row1Height $row2Height $row3Height $row4Height $row5Height;
   grid-template-columns: $col1Width $col2Width $col3Width;
   gap: $gridGap;
   padding: $gridPadding;
   margin: $gridMargin;
   background-image: $BG_Gradient;
   border-radius: 8px;
   box-shadow: black 0 0 8px;
   // ----------------------------------------- Grid Row 1 -----------------------------------------
   #file-area-flex {
      grid-row: 1;
      grid-column: 1;
      display: flex;
      flex-direction: column;
      #marker-file-div {
         #marker-file-button {
         }
         #marker-file-name {
         }
      }
      #force-file-div {
         #force-file-button {
         }
         #force-file-name {
         }
      }
      .file-upload-button {
         background-color: $fileUploadButtonBGColor;
         width: 124px;
         height: 14px;
         font-weight: bold;
         border-radius: 5px;
         cursor: pointer;
      }
      .file-chosen-name {
         color: $fileChosenNameColor;
         padding-left: 5px;
      }
   }
   #logo-area-flex {
      grid-row: 1;
      grid-column: 2;
      display: flex;
      flex-direction: row;
      justify-content: right;
      margin-bottom: -4px; //lower button to top of viz area
      #logo {
         text-align: right;
         font-size: 18pt;
         line-height: 26pt;
         font-weight: 900;
      }
      #main-menu-button {
         color: $playButtonIconColor;
         background-color: $playButtonBGColor;
         width: 28px;
         height: 26px;
         border: none;
         border-radius: 5px;
         margin-left: 6px;
         padding: 6px;
         &:hover {
            filter: brightness(85%);
         }
      }
   }
   #output-area-title {
      grid-row: 1;
      grid-column: 3;
      text-align: center;
      font-size: 8pt;
      font-weight: bold;
      line-height: 30pt;
      color: $outputAreaTitleColor;
   }
   // ---------------------------------------- Grid Rows 2-3 ---------------------------------------
   #viz-area {
      grid-row: 2/4;
      grid-column: 1/3;
      background-color: $vizAreaBGColor;
      overflow: hidden;
      > div {
         height: 100%;
         width: 100%;
      }
   }
   #popup-area {
      $popupPadding: 15px;
      $popupZindex: 1;
      z-index: $popupZindex;
      grid-row: 2/4;
      grid-column: 1/3;
      position: relative; //base for child popups' absolute positioning
      font-size: 9pt; //for child popups to inherit
      visibility: hidden;
      #error-popup {
         z-index: calc($popupZindex + 1);
         position: absolute;
         padding: $popupPadding;
         width: calc(100% - 2*$popupPadding);
         height: calc(100% - 2*$popupPadding);
         overflow: auto;
         background-color: $errorPopupBGColor;
         color: $errorPopupTextColor;
         font-family: 'monospace','sans-serif';
         font-size: inherit;
         white-space: pre;
         cursor: text;
      }
      #main-menu-popup {
         z-index: calc($popupZindex + 2);
         position: absolute;
         padding: $popupPadding;
         width: calc(100% - 2*$popupPadding);
         height: calc(100% - 2*$popupPadding);
         display: flex;
         font-size: inherit;
         background-color: white;
         #popup-image-container {
            display: flex;
            align-items: center;
            overflow-y: auto;
            width: 100%; //maintain width even when no image is displayed
            img {
               width: 100%;
            }
         }
         #main-menu-options {
            $definitionTermWidth: 100px;
            border: solid 2px #444444;
            padding: 10px;
            > * {
               font-size: 9pt;
            }
            dt {
               float: left;
               clear: left;
               width: $definitionTermWidth;
               text-align: right;
               font-weight: bold;
               color: #025675;
               &::after {
                  content: ":";
               }
            }
            dd {
               margin-left: calc($definitionTermWidth + 10px);
               &:hover {
                  color: #9b9b0b;
               }
            }
         }
      }
      #sdp-info-popup {
         z-index: calc($popupZindex + 3);
         position: absolute;
         padding: $popupPadding;
         width: calc(100% - 2*$popupPadding);
         height: calc(100% - 2*$popupPadding);
         background-color: $sdpInfoPopupBGColor;
         color: $sdpInfoPopupTextColor;
         font-size: inherit;
         white-space: pre-line;
         display: flex;
         flex-direction: column; //display toggled between flex and none in App.tsx
         justify-content: center;
         align-items: center;
         text-align: center;
         a {
            text-decoration: none;
            color: $sdpLinkColor;
            font-size: inherit;
            font-weight: bold;
         }
      }

   }
   #output-area {
      grid-row: 2;
      grid-column: 3;
      background-color: $outputAreaBGColor;
      padding: 5px;
      overflow-y: auto;
      #selection-info-view {
         & > * {
            font-size: 9pt;
         }
         & :first-child {
            margin-top: 0;
         }
      }
   }
   #sdp-logo {
      grid-row: 3;
      grid-column: 3;
      cursor: pointer;
      width: 100%; //height: 87px;
   }
   // ----------------------------------------- Grid Row 4 -----------------------------------------
   #timeline-track-area {
      grid-row: 4;
      grid-column: 1/3;
      display: flex;
      flex-direction: column;
      #timeline-track-flex {
         display: flex;
         align-items: center;
         #play-button {
            width: 36px;
            height: 36px;
            margin-right: 5px;
            border: none;
            background-color: $playButtonBGColor;
            display: grid;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            cursor: pointer;
            > svg {
               width: 100%;
               color: $playButtonIconColor;
            }
            &:hover {
               filter: brightness(85%);
            }
         }
         #timeline-track {
            width: calc(100% - 45px);
            -webkit-appearance: none;
            &::-webkit-slider-runnable-track {
               height: 36px;
               cursor: pointer;
               background: $timelineTrackBGColor;
            }
            &::-webkit-slider-thumb {
               height: 36px;
               width: 2px;
               background: $timelineTrackThumbColor;
               cursor: pointer;
               -webkit-appearance: none;
            }
            &::-moz-range-track {
               height: 36px;
               cursor: pointer;
               background: $timelineTrackBGColor;
            }
            &::-moz-range-thumb {
               height: 36px;
               width: 2px;
               background: $timelineTrackThumbColor;
               cursor: pointer;
               -webkit-appearance: none;
            }
         }
      }
   }
   #timeline-manual-area {
      grid-row: 4;
      grid-column: 3;
      text-align: center;
      .timeline-cell {
         width: 34px;
         height: 11px;
         margin: -2px;
         padding: 0 2px;
         text-align: left;
         &:focus {
            outline: none;
         }
         &.label {
            color: $timelineCellLabelColor;
         }
         input:disabled {
            -moz-appearance: textfield;
            &::-webkit-inner-spin-button {
               -webkit-appearance: none;
            }
         }
      }
   }
   // ----------------------------------------- Grid Row 5 -----------------------------------------
   #timeline-track-under-area {
      grid-row: 5;
      grid-column: 1/3;
      position: relative;
      top: -7px;
      #play-button-loop-checkbox-label {
         color: white;
         position: relative;
         bottom: 8px;
         left: 3px;
      }
      #play-button-loop-checkbox {
         width: 8px;
         position: relative;
         bottom: -5px;
      }
   }
}
