/* goldman-regular - latin */
@font-face {
   font-family: 'Goldman';
   font-style: normal;
   font-weight: 400;
   src: url('../assets/fonts/goldman/goldman-v15-latin-regular.eot'); /* IE9 Compat Modes */
   src: local('Goldman'),
   url('../assets/fonts/goldman/goldman-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../assets/fonts/goldman/goldman-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
   url('../assets/fonts/goldman/goldman-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
   url('../assets/fonts/goldman/goldman-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
   url('../assets/fonts/goldman/goldman-v15-latin-regular.svg') format('svg'); /* Legacy iOS */
}

* {
   font-family: 'Goldman', sans-serif;
   font-size: 5pt;
}

#app-grid {
   width: 960px;
   height: 530px;
   display: grid;
   grid-template-rows: 22px auto 60px;
   grid-template-columns: auto 100px 155px;
   padding: 5px;
   gap: 5px;
   background-image: linear-gradient(45deg,#002446ff,#3c78d8ff,#70c7e4ff,#96d358ff,#e4ff66ff);
   #file-area-flex {
      grid-row: 1;
      grid-column: 1;
      display: flex;
      flex-direction: column;
      #marker-file-div {
         #marker-file-button {
         }
         #marker-file-name {
            color: white;
            padding-left: 5px;
         }
      }
      #force-file-div {
         #force-file-button {
         }
         #force-file-name {
            color: white;
            padding-left: 5px;
         }
      }
   }
   #logo {
      grid-row: 1;
      grid-column: 2;
      text-align: right;
      font-size: 18pt;
      line-height: 26pt;
      font-weight: 900;
   }
   #selection-info {
      grid-row: 1;
      grid-column: 3;
      text-align: center;
      font-size: 8pt;
      font-weight: bold;
      line-height: 30pt;
      color: #666666;
   }
   #viz-area {
      grid-row: 2;
      grid-column: 1/3;
      background-color: #222222;
   }
   #output-area {
      grid-row: 2;
      grid-column: 3;
      background-color: #4d4d4d9d;
      white-space: pre-line;
      padding: 5px;
      font-size: 9pt;
   }
   #timeline-track-area {
      grid-row: 3;
      grid-column: 1/3;
      #play-button {
         width: 36px;
         height: 36px;
         margin-right: 5px;
         border: none;
         background-color: #6aa84f;
      }
      #timeline {
         width: calc(100% - 45px);
         -webkit-appearance: none;
         &::-webkit-slider-runnable-track {
            width: calc(100% - 40px);
            height: 36px;
            cursor: pointer;
            background: #4d4d4d;
         }
         &::-webkit-slider-thumb {
            height: 36px;
            width: 2px;
            background: #ffffff;
            cursor: pointer;
            -webkit-appearance: none;
         }
      }
   }
   #timeline-manual-area {
      grid-row: 3;
      grid-column: 3;
      text-align: center;
      span {
         color: yellow;
      }
   }
}

.file-upload-button {
   background-color: #90c55b;
   width: 114px;
   height: 14px;
   font-weight: bold;
   border-radius: 4px;
}

.timeline-cell {
   width: 34px;
   height: 11px;
   margin: -2px;
   padding: 0px 2px;
   text-align: center;
   &:focus {
      outline: none;
   }
}