@import "@fontsource/goldman/latin.css";

/* Colors */
$BG_Gradient: linear-gradient(45deg,#002446,#3c78d8,#70c7e4,#96d358,#e4ff66);
$fileUploadButtonBGColor: #90c55b;
$fileChosenNameColor: white;
$outputAreaTitleColor: #666666;
$outputAreaBGColor: #4d4d4d9d;
$vizAreaBGColor: #222222;
$playButtonBGColor: #6aa84f;
$timelineTrackBGColor: #4d4d4d;
$timelineTrackThumbColor: white;
$timelineCellLabelColor: yellow;

* {
   font-family: 'Goldman', sans-serif;
   font-size: 5pt;
}

/* Styles in the grid are organized top->bottom, left->right */
#app-grid {
   width: 960px;
   height: 530px;
   display: grid;
   grid-template-rows: 22px auto 60px; //viz-area, output-area may resize in height (once implemented)
   grid-template-columns: auto 100px 155px; //file-area, viz-area, timeline-track-area may resize in width (once implemented)
   padding: 5px;
   gap: 5px;
   background-image: $BG_Gradient;
   // ----------------------------------------- Grid Row 1 -----------------------------------------
   #file-area-flex {
      grid-row: 1;
      grid-column: 1;
      display: flex;
      flex-direction: column;
      #marker-file-div { //see .file-upload-button and .file-chosen-name for shared props
         #marker-file-button {
         }
         #marker-file-name {
         }
      }
      #force-file-div { //see .file-upload-button and .file-chosen-name for shared props
         #force-file-button {
         }
         #force-file-name {
         }
      }
   }
   #logo {
      grid-row: 1;
      grid-column: 2;
      text-align: right;
      font-size: 18pt;
      line-height: 26pt;
      font-weight: 900;
   }
   #output-area-title {
      grid-row: 1;
      grid-column: 3;
      text-align: center;
      font-size: 8pt;
      font-weight: bold;
      line-height: 30pt;
      color: $outputAreaTitleColor;
   }
   // ----------------------------------------- Grid Row 2 -----------------------------------------
   #viz-area {
      grid-row: 2;
      grid-column: 1/3;
      background-color: $vizAreaBGColor;
   }
   #output-area {
      grid-row: 2;
      grid-column: 3;
      background-color: $outputAreaBGColor;
      white-space: pre-line;
      padding: 5px;
      font-size: 9pt;
   }
   // ----------------------------------------- Grid Row 3 -----------------------------------------
   #timeline-track-area {
      grid-row: 3;
      grid-column: 1/3;
      #play-button {
         width: 36px;
         height: 36px;
         margin-right: 5px;
         border: none;
         background-color: $playButtonBGColor;
      }
      #timeline-track {
         width: calc(100% - 45px);
         -webkit-appearance: none;
         &::-webkit-slider-runnable-track {
            width: calc(100% - 45px);
            height: 36px;
            cursor: pointer;
            background: $timelineTrackBGColor;
         }
         &::-webkit-slider-thumb {
            height: 36px;
            width: 2px;
            background: $timelineTrackThumbColor;
            cursor: pointer;
            -webkit-appearance: none;
         }
      }
   }
   #timeline-manual-area {
      grid-row: 3;
      grid-column: 3;
      text-align: center;
   }
}

.file-upload-button {
   background-color: $fileUploadButtonBGColor;
   width: 124px;
   height: 14px;
   font-weight: bold;
   border-radius: 4px;
}

.file-chosen-name {
   color: $fileChosenNameColor;
   padding-left: 5px;
}

.timeline-cell {
   width: 34px;
   height: 11px;
   margin: -2px;
   padding: 0px 2px;
   text-align: center;
   &:focus {
      outline: none;
   }
   &.label {
      color: $timelineCellLabelColor;
   }
}
