@import "@fontsource/goldman/latin.css";

/* Colors */
$BG_Color: #181910;
$BG_Gradient: linear-gradient(45deg,#002446,#3c78d8,#70c7e4,#96d358,#e4ff66);
$fileUploadButtonBGColor: #90c55b;
$fileChosenNameColor: white;
$outputAreaTitleColor: #666666;
$outputAreaBGColor: #4d4d4d9d;
$vizAreaBGColor: #222222;
$errorPopupTextColor: #aa0000;
$errorPopupBGColor: #202020cc;
$playButtonBGColor: #6aa84f;
$playButtonColor: green;
$timelineTrackBGColor: #545d5d;
$timelineTrackThumbColor: yellow;
$timelineCellLabelColor: yellow;
$sdpInfoBGColor: #0033A0;
$sdpInfoTextColor: white;
$sdpLinkColor: #D64309;

* {
   font-family: 'Goldman', sans-serif;
   font-size: 5pt;
}

html {
   background-color: $BG_Color;
}

/* Styles in the grid are organized top->bottom, left->right */
#app-grid {
   & > * {
      z-index: 1;
   }
   z-index: 1;
   //position: relative; //needed for background z-index, but breaks marker selection precision
   width: 960px;
   height: 530px;
   display: grid;
   grid-template-rows: 22px auto 40.5px 14px; //viz-area, output-area may resize in height (once implemented)
   grid-template-columns: auto 100px 155px; //file-area, viz-area, timeline-track-area may resize in width (once implemented)
   padding: 5px;
   gap: 5px;
   background-image: $BG_Gradient;
   border-radius: 8px;
   box-shadow: black 0 0 8px;
   // ----------------------------------------- Grid Row 1 -----------------------------------------
   #file-area-flex {
      grid-row: 1;
      grid-column: 1;
      display: flex;
      flex-direction: column;
      #marker-file-div { //see .file-upload-button and .file-chosen-name for shared props
         #marker-file-button {
         }
         #marker-file-name {
         }
      }
      #force-file-div { //see .file-upload-button and .file-chosen-name for shared props
         #force-file-button {
         }
         #force-file-name {
         }
      }
   }
   #logo {
      grid-row: 1;
      grid-column: 2;
      text-align: right;
      font-size: 18pt;
      line-height: 26pt;
      font-weight: 900;
   }
   #output-area-title {
      grid-row: 1;
      grid-column: 3;
      text-align: center;
      font-size: 8pt;
      font-weight: bold;
      line-height: 30pt;
      color: $outputAreaTitleColor;
   }
   // ----------------------------------------- Grid Row 2 -----------------------------------------
   #viz-area {
      grid-row: 2;
      grid-column: 1/3;
      background-color: $vizAreaBGColor;
   }
   #popup-area {
      z-index: 2;
      grid-row: 2;
      grid-column: 1/3;
      visibility: hidden;
      #error-popup {
         z-index: 3;
         padding: 15px;
         white-space: pre;
         overflow: scroll;
         color: $errorPopupTextColor;
         background-color: $errorPopupBGColor;
         width: 770px;
         height: 420px;
         font-family: 'monospace','sans-serif';
         font-size: 9pt;
         cursor: text;
      }
   }
   #output-area {
      grid-row: 2;
      grid-column: 3;
      background-color: $outputAreaBGColor;
      white-space: pre-line;
      padding: 5px;
      font-size: 9pt;
   }
   // ----------------------------------------- Grid Row 3 -----------------------------------------
   #timeline-track-area {
      grid-row: 3;
      grid-column: 1/3;
      display: flex;
      flex-direction: column;
      #timeline-track-flex {
         display: flex;
         align-items: center;
         #play-button {
            width: 36px;
            height: 36px;
            margin-right: 5px;
            border: none;
            background-color: $playButtonBGColor;
            display: grid;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            cursor: pointer;
            > svg {
               width: 100%;
               color: $playButtonColor;
            }
         }
         #timeline-track {
            width: calc(100% - 45px);
            -webkit-appearance: none;
            &::-webkit-slider-runnable-track {
               height: 36px;
               cursor: pointer;
               background: $timelineTrackBGColor;
            }
            &::-webkit-slider-thumb {
               height: 36px;
               width: 2px;
               background: $timelineTrackThumbColor;
               cursor: pointer;
               -webkit-appearance: none;
            }
            &::-moz-range-track {
               height: 36px;
               cursor: pointer;
               background: $timelineTrackBGColor;
            }
            &::-moz-range-thumb {
               height: 36px;
               width: 2px;
               background: $timelineTrackThumbColor;
               cursor: pointer;
               -webkit-appearance: none;
            }
         }
      }
   }
   #timeline-manual-area {
      grid-row: 3;
      grid-column: 3;
      text-align: center;
   }
   // ----------------------------------------- Grid Row 4 -----------------------------------------
   #timeline-track-under-area {
      grid-row: 4;
      grid-column: 1/3;
      position: relative;
      top: -7px;
      #play-button-loop-checkbox-label {
         color: white;
         position: relative;
         bottom: 8px;
         left: 3px;
      }
      #play-button-loop-checkbox {
         width: 8px;
         position: relative;
         bottom: -5px;
      }
   }
}

// -------------------------------------- Beneath App grid --------------------------------------
#sdp-logo-area {
   width: 960px;
   margin-top: calc(100vh - 660px);
   #sdp-flex {
      display: flex;
      flex-direction: row;
      justify-content: center;
      #sdp-logo {
         height: 91.5px;
         border-radius: 10px 0px 0px 10px;
      }
      #sdp-info {
         padding: 10px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         font-size: 4pt;
         text-align: center;
         background-color: $sdpInfoBGColor;
         color: $sdpInfoTextColor;
         white-space: pre-line;
         border-radius: 0px 10px 10px 0px;
         a {
            text-decoration: none;
            color: $sdpLinkColor;
            font-weight: bold;
            font-size: 4pt;
         }
      }
   }
}

.file-upload-button {
   background-color: $fileUploadButtonBGColor;
   width: 124px;
   height: 14px;
   font-weight: bold;
   border-radius: 5px;
   cursor: pointer;
}

.file-chosen-name {
   color: $fileChosenNameColor;
   padding-left: 5px;
}

.timeline-cell {
   width: 34px;
   height: 11px;
   margin: -2px;
   padding: 0px 2px;
   text-align: left;
   &:focus {
      outline: none;
   }
   &.label {
      color: $timelineCellLabelColor;
   }
}

input:disabled {
   -moz-appearance: textfield;
   &::-webkit-inner-spin-button {
      -webkit-appearance: none;
   }
}
